{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
    <div class = "container">
        <div class="row align-items-center vh-100">
            <div class = "col-3 mx-auto">
                <div class="card shadow border " style="width: 20rem;">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class = "login">
                        
                            <h1 class = "mb-4" style="text-align: center;">Login</h1>
                        
                            <form method="POST"  id = "loginForm">
                                {% csrf_token %}
                                <table style="margin: 12px;">
                                    <tr>
                                        <td><input type="text" name="username" placeholder="Username" class="form-control" required /></td>
                                    </tr>
                                            
                                    <tr>
                                        <td><input type="password" name="password" placeholder="Password" class="form-control" required /></td>
                                    </tr>
                        
                                    <tr style="align-items: center;">
                                        <td style="align-items: center ;"><input class="btn btn-primary" type="submit" value="Login"></td>
                                    </tr>
                                </table>
                            </form>
                        
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}     
                                
                            Belum mempunyai akun? <a class="readmore" href="{% url 'authentication:register' %}">Buat Akun</a>
                        
                        </div>
                
                    </div>
                
                </div>

            </div>

        </div>

    </div>
    
</div>


<script>
    $(document).ready(function() {
        $("#loginForm").submit(function(e){
            e.preventDefault();
            var form = $(this);
            
            $.ajax(
            {
                url : '',
                type : 'POST',
                data : 
                    form.serialize(),    
                    csrfmiddlewaretoken : '{{ csrf_token }}',
                    
                    success: function(){
                        alert("Login Succesfull");
                        window.location.href = "{% url 'loveiscaring:index' %}"
                    },

            });
             
         });
    });
</script>

{% endblock content %}