{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
  .flex{
    display:flex;
  }
</style>

<body>
  <main>
  <!-- Jumbotron -->
  <section class="py-5 text-center container mt-5">
      <div class="row py-5">
        <div class="col-lg-6 col-md-8 col-12 mx-auto">
          <h1 class="fw-light"> {{title}} </h1>
          <p class="lead text-muted"> {{subtitle}} </p>
        </div>
      </div>
  </section>

  <!-- article -->
  <div class="album py-5 bg-album">
    <div class="container flex justify-center">
        <div class="row flex flex-col items-center">
          <div class="col col-lg-2 col-xl-2"> </div>
          <div class="col col-lg-8 col-xl-8">
            <p> {{deskripsi}} </p>
            <h2 class="py-4">Bagaimana cara pencegahannya?</h2>
            <p>
              {{subpencegah}}
              <ul>
                {% for tip in tips %}
                  <li> {{tip}}</li>
                {% endfor %}
              </ul>
            </p>
          </div>
          <div class="col col-lg-2 col-xl-2"> </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container flex justify-center">

    <div class="row bg">
      <div class="col col-lg-2 col-xl-2"> </div>

      <div class="mt-3">
        <h3><span>Bagaimana Tanggapan Anda?</span></h3>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kartu" data-bs-whatever="@mdo">Tambah task baru</button>
      </div>
      <div class="col col-lg-2 col-xl-2"> </div>
      <div class="max-w-[80%] mx-auto">
        <div id="tambahkartu" class="flex flex-wrap gap-5 justify-center"></div>
      </div>
    </div>
  </div>
  </main>
</body>

<!-- Suggestion -->
</div>

<!-- # MODAL -->
<div class="modal fade" id="kartu" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suggestion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="taskbaru">
          {% csrf_token %}
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Deskripsi Task</label>
            <textarea name='desc' class="form-control" id="desc"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="tambahCard">Tambah</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>

  // console.log(window.location.href)
  $(document).ready(function () {
    const card = (item) => `
                <div class="flex col-6 col-md-3 col-xxl-2 grid-item">
                  <div class="flex card border-0 rounded-0 w-90">  
                    <div class="card-body border border-2 bg-card-body">
                      <span class="h3 font-secular-one mb-0">"</span>
                      <div>
                        <p>${item.fields.desc}</p>
                      </div>
                      <div class="d-flex justify-content-end align-items-end">
                      </div>
                    </div>
                  </div>
                </div>`
    
    const getTask = () => {
    $.get("../json/{{tipe}}", data => {
      $.each(data, (i, item) => {
        $("#tambahkartu").append(card(item));
      });
    });
  }

  $("#taskbaru").submit(function(event){
    event.preventDefault();
      $.ajax(
      {
        type: "POST",
        url: "../addcard/{{tipe}}",
        //headers: { "X-CSRFToken": csrftoken }, // give CSRF token to the header
        data: $("#taskbaru").serialize(),
        success: response => {
          $("#taskbaru").trigger("reset");
          $("#tambahkartu").append(card(response));
        },
      });
  });

  getTask();
});
</script>
{% endblock content %}