{% extends 'base.html'%}
{% load static %}
{% block content %}
<body>
  <script>
      $get.document()
  </script>
  <main>
  <!-- Jumbotron -->
  <section class="py-5 text-center container mt-5">
      <div class="row py-5">
        <div class="col-lg-6 col-md-8 col-12 mx-auto">
          <h1 class="fw-light"> {{title}} </h1>
          <p class="lead text-muted"> {{subtitle}} </p>
        </div>
      </div>
  </section>

  <!-- article -->
  <div class="container flex justify-center">
      <div class="row flex flex-col items-center">
        <div class="col col-lg-8 col-xl-8">
          <p> {{deskripsi}} </p>
          <h2 class="py-4">Bagaimana cara pencegahannya?</h2>
          <p>
            {{subpencegah}}
            <ul>
              {% for tip in tips %}
                <li> {{tip}}</li>
              {% endfor %}
            </ul>
          </p>
        </div>
        <div class="col-lg-2 col-xl-2">
        </div>
      </div>
    </div>
  </div>
  </main>
</body>
{% endblock content %}