{% extends 'base.html' %}

{% block meta %}
<title>Feedback</title>

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

@media only screen and (max-width: 600px) {
        .image-asset {
            max-width:200px;
        }
        .card-container{
            width:100%;
        }
        .quotes{
            width: 100%;
        }
    }
  @media only screen and (min-width: 601px) {
      .image-asset {
          max-width:500px;
      }
      .card-container{
          width:100%;
      }
      .quotes{
          width: 100%;
      }
  }
</style>
<link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>

{% endblock meta %}

{% block content %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>

    $(document).ready(function(){
        $("#tambahCard").click(function(){
            var counter = 0;
            if ($('#star1').is(":checked")){
                counter = 1;
                }
            if ($('#star2').is(":checked")){
                counter = 2;
                }
            if ($('#star3').is(":checked")){
                counter = 3;
                }
            if ($('#star4').is(":checked")){
                counter = 4;
                }
            if ($('#star5').is(":checked")){
                counter = 5;
                }
            var desc = $("#desc").val()


          var data = {rating: counter, desc: desc, csrfmiddlewaretoken: '{{ csrf_token }}'};
          $.post("{% url 'feedback:add' %}", data, function(data){
            $("#contener").append(
            "<div class='col-6 d-flex justify-content-center'>\
                  <div class='card p-3 bg-c-blue order-card ' style='height: 400px; width: 450px'>\
                      <div class='card-header' style='background-color: #C8DBBE;'>\
                        <div class='row'>\
                          <h4 class='m-b-20'>Rating: "+data.fields.rating+"</h4>\
                          <div class='col-2 d-flex justify-content-center align-items-center'>\
                            <img class='rounded-circle' style='width: 40px; height: 40px'\
                            src='https://www.kindpng.com/picc/m/171-1712282_profile-icon-png-profile-icon-vector-png-transparent.png' alt=''/>\
                          </div>\
                          <div class='col d-flex align-items-center'>\
                            <h5>"+data.fields.username+"</h5>\
                          </div>\
                        </div>\
                      </div>\
                      <div class='card-body'>\
                          <h5 class='m-b-20'>Description: "+data.fields.desc+"</h5>\
                      </div>\
                      <div class='card-footer' style='background-color: #C8DBBE;'>\
                        <h7 class='m-b-20'>"+data.fields.date+"</h7>\
                      </div>\
                  </div>\
              </div>");
        });
    });
})

</script>

<style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      margin-top: 150px;
  }
</style>

<body class="container-fluid">
  <div id="quotes" class="quotes row" style="margin-top: 50px;">
    <div class="col col-sm-4 bg-album">
      <img 
        class="center"
        src="{% static 'images\Mental_Disorder_Silhouette.png' %}" alt="siluet">
      <div class="mx-5 mt-5 text-center"  style="color: #083AA9;">
        <h4>
          <i>"Mental health...is not a destination, but a process. It's about how you drive, not where you're going".</i>
        </h4>
        <h4 class="p-5"><b> - Noam Shpancer</b></h4>
      </div>
    </div>

    <div class="col">
      <div class="row text-center mt-5">
        <h1 class="fw-light" style="font-family:'Alata'">Feedback</h1>
        <p class="lead text-muted" style="font-family:'Alata'">create your feedback here</p>
        <p>
          {% if not request.user.is_authenticated %}
            <a class="btn btn-primary border rounded-0" href="{% url 'loveiscaring:login' %}">Login untuk Menambahkan Card Baru</a>
          {% else %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal" data-bs-whatever="@mdo">Tambah Card Baru</button>
          {% endif %}
        </p>
      </div>


<!-- # CARD -->
      <div class="card-container">
        <div class="album py-5">
          <div class="container">
            <div class="row g-4 d-flex justify-content-around" id="contener">
              {% for item in list %}
              <div class='col-6 d-flex justify-content-center'>
                  <div class='card p-3 bg-c-blue order-card ' style="height: 400px; width: 450px">
                      <div class='card-header' style="background-color: #CFB997;">
                        <div class="row">
                          <h4 class='m-b-20'>Rating: {{item.rating}}</h4>
                          <div class="col-2 d-flex justify-content-center align-items-center">
                            <img
                            class="rounded-circle"
                            style="width: 40px; height: 40px"
                            src="https://www.kindpng.com/picc/m/171-1712282_profile-icon-png-profile-icon-vector-png-transparent.png"
                            alt=""
                            />    
                          </div>
                          <div class="col d-flex align-items-center" style="font-family:Monaco">
                            <h5>{{item.username}}</h5>
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                          <h5 class='m-b-20'>Description: {{item.desc}}</h5>
                      </div>
                      <div class="card-footer" style="background-color: #FAF7F0;">
                        <h7 class='m-b-20'>{{item.date}}</h7>
                      </div>
                  </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


  <!-- # MODAL -->
  <div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-family:'Alata';font-size: 22px;">Rate Your Experience</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form>
            {% csrf_token %}
            <div class="mb-3 row">
                <div class="col-12 col-sm-12"><p class="col-form-label" style="font-family:'Times New Roman', Times, serif; font-size:18px" >How did we do?</p></div>
                    <div class="col-12 col-sm-12"><div name="text" class="rate">
                        <input type="radio" id="star1" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star2" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star4" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star5" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div></div>
            </div>
            <div class="mb-3 row">
              <p class="col-form-label" style="font-family:'Times New Roman', Times, serif; font-size:18px">Description</p>
              <textarea class="form-control" id="desc"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="tambahCard">Tambah</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}