{% block content %} 
<div class=" bg-slate-200 h-screen">
    <div class = "h-screen login flex justify-center items-center">
        <div class="block bg-white shadow-lg rounded-lg p-6">
            <div class = "create task">
                <h1 class="font-bold text-blue-600 text-2xl mt-0.3 mb-1 ml-0.3">Task baru</h1>
                <form method="POST" id="kartu" action="">
                    {% csrf_token %}
                    <tr>
                        <td><h1 class="font-bold">Tanggapan: </h1></td>
                        <td><textarea name="description"
                            class = "form-control 
                                    block w-full 
                                    px-4 
                                    py-2 
                                    text-l 
                                    font-normal 
                                    text-gray-700 
                                    bg-gray-100 
                                    bg-clip-padding 
                                    border 
                                    border-solid 
                                    border-gray-300 
                                    rounded 
                                    transition 
                                    ease-in-out 
                                    m-0 
                                    focus:text-gray-700 
                                    focus:bg-white 
                                    focus:border-blue-600 
                                    focus:outline-none"></td>
                    </tr>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#kartu").submit(function(){
        $.ajax(
        {
          type: "POST",
          url: "",
          headers: { "X-CSRFToken": csrftoken }, // give CSRF token to the header
          mode: "same-origin", // Do not send CSRF token to another domain.
          data:
          {
            title: title,
            description: description,
          },
          success: response => {
            $("#create-task-form").trigger("reset");
            $("#todolist").append(card(response));
          },
        });
    })
</script>
{% endblock content %} 